
*{
    box-sizing: border-box;
}
body{
    margin: 0;/*Боди сам по себе имеет отступы, поэтому пишем 0*/
    font-family: 'Roboto', sans-serif; /*Подключили шрифты*/

}
.container{
    width: 1170px; /*Ширина контейнера*/
    /*height: 200px; /*Отступ сверху*/
    /* background-color: cadetblue;Фон */
    margin-left: auto;   /* Делаем наш контейнер по центру страницы*/
    margin-right: auto; 
    /*margin: 0 auto;*/ /*Можно записать и так, где 0 - отступ сверху и снизу, право лево авто*/
    
}

.header{
    /* background-color: darkgoldenrod; */
       
    padding-top: 75px; /*Внешние отступы*/
    padding-bottom: 70px;   
}




.heading-1{
    font-size: 42px; /*Размер шрифта*/
    line-height: 80px; /*Высота строки. чтоб увеличить расстояние между именем и прфессией*/
    font-weight: 700; /*Толщина букв*/
    margin-top: 0;/*У самого h1 есть отступы, избавляемся от них*/
    margin-bottom: 60px;
}
.subheading{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
}
.social-link{
    margin-right: 30px;
    text-decoration: none;
}

.about-me{
    padding: 80px 0; /*Первое значение верх и низ,2е право и лево*/
    background-color: lightskyblue;
    
    
}

.about-me-row{
    display: flex;
    justify-content: space-between;
}
.about-me-text{
    width: 440px;
}

.about-me-photo{

}

.about-me-heading-big{
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;

}

.about-me-heading-small{
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;

}

.about-me-text p {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.6;

}
.about-me-text ul{
    font-weight: 300;
    font-size: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.about-me-text ul li{

}

.about-me-text ul li::before{
    content: "-";

}


.portfolio{
    padding-top: 75px;
    padding-bottom: 45px;

}
.prtfolio-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 75px;

}

.portfolio-row{
    display: flex;
    flex-wrap: wrap; /*Флексы выстраиваются в несколько строк*/
    justify-content: space-between;
    align-items: flex-start;
    
}

.project{
    margin-bottom: 130px;
    margin-left: 2px;
}
.project:last-child, .project:nth-last-child(2){
    margin-bottom: 0;
}

.project-img{
    margin-bottom: 15px;
    display: block;

}
.project-title{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;

}

.project-description{
    font-size: 28px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 15px;
}

.project-link{
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    color: cadetblue;
    text-decoration: none;

}

.footer{
    padding-top: 30px;
    padding-bottom: 90px;

}
.footer-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;

}
.footer-email{
    font-size: 36px;
    font-weight: 100;

}
.footer-email a{
    color: darkblue;
    font-weight: 100;
}

/* Если страницы сайта похожи по стилю, то пишем в этом же ccs
Делаем дизайн для страницы Проекта */

.header-inner{
    background-color: #e3f0f7;
    padding: 50px 0;
}

.header-inner-row{
    display: flex; 
    justify-content: space-between;

}

.logo-inner{
    margin: 0;
    font-size: 32px;
    font-weight: 700;

}
.logo-inner span{
    font-size: 22px;
}

.project-section{
    padding-top: 100px;
    padding-bottom: 50px;
}
.project-page-heading{
    font-size: 4opx;
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
}

.badges-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

}
.badge{
    height: 26px;
    line-height: 26px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: burlywood;
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
}
.badge-html{
    background-color: #ff861a;
}
.badge-css{
    background-color: #039be5;
}
    
.badge-bootstrap{
    background-color: #a062c7;
}
.project-page-discription{
    width: 575px;
    font-size: 22px;
    line-height: 1.45;/*Междустрочный интервал*/
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;

}
.project-page-discription p{
    margin-top: 0;
    margin-bottom: 20px;
}

.project-page-discription a{
    color: #039be5;
}

.project-page-img{
    text-align: center;
}
.project-page-img img{
    box-shadow: 19.799px 19.799px 100px 0px rgba(196, 219, 233, 0.5);/*Тень вокруг картинки*/
    margin-bottom: 55px;
}

.pagination{
    display: flex;
    justify-content: space-between;

}
.pagination-btn{
    display: inline-block;
    height: 80px;
    width: calc(50% - 5px);
    line-height: 80px;
    border:1px solid #d2ebf7; /*Рамка, толщина, тип линии
    цвет обводки*/
    font-size: 22px;
    font-weight: 300;
    color: #47abe9;
    text-align: center;
    text-decoration: none;

}  
.footer-inner-page{
    text-align: center;
    margin-bottom: 80px;
}
  

 @media(max-width:320px){
    .container{
        width: 100%;
    }
    .header{
        width: 200px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-me{
        width: 200px;
        text-align: center;
    }
    .about-me-row{
        display: inline-block;
        width: 200px;
    }

 }